
.blogs-display {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-gap: 1rem;
}
.blogs-display > * {
    grid-column: 2;
    min-width: 0;
}
.code {
    background-color: red;
    font-family: monospace;
}
@media screen and (max-width: 500px) {
    .blogs-display {
       display: grid;
       grid-template-columns: 5px 1fr 5px;
    }
}
@media screen and (max-width: 700px) {
    .blogs-display {
       display: grid;
       grid-template-columns: 5px 1fr 5px;
    }
}