$primary-color: #272727;
$secondary-color: #ff652f;

/*Hero*/
.homeHero,
.aboutHero,
.projectsHero,
.blogpageHero,
.servicesHero,
.defaultHero {
  min-height: 25vh;
  background: url("../images/project-1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
// .homeHero {
//   background-image: url("../images/project-1.jpg");
//   min-height: 30vh;
// }
// .defaultHero {
//   background:url("../images/project-1.jpg") ;
//   height: 30vh;
// }
// .blogpageHero {
//   background: url("../images/project-3.jpg");
//   height: 10vh;
// }
// .aboutHero {
//   display:flex;
//   flex-direction: row;
// }