$primary-color:  #242526;
$secondary-color: #dadce1;
$speed: 800ms;
$nav-size: 60px;
$border: 1px solid #474a4d;
$border-radius: 8px;


.navbar {
    height: $nav-size;
    width: 100vw;
    background-color: $primary-color;
    padding: 0 1rem;
    border-bottom: $border;
}
.navbar-nav {
    max-width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
