 $primary-color: #272727;
 $secondary-color: #ff652f;

 .navbar {
     position: fixed;
     justify-content: center;
     background: $primary-color; 
     top: 0;
     left: 0;
     width: 100vw;
     height: 10vh;
     opacity: 0.98;
     z-index:1;
 }


 .menu-navbar {
    display: flex;
     align-items: center;
     flex-direction: row;
     flex-flow: row wrap;
     align-items: center;
     justify-content: center;
     width: 80%;
     margin: auto;
     height: 0px;
     overflow: hidden;
     list-style-type: none;
     text-decoration: none;
     background: #272727;
 }
 .menu-navbar__link {
     display: inline-block;
     font-size: 1rem;
     text-transform: uppercase;
     padding: 1rem 0;
     font-weight: 800;
     border-radius: 4px;
 }
 .menu-navbar__link:hover {
  background: lighten($primary-color, 10%); 
 }
 .menu-navbar__link > a {
     padding: 0 2rem;
     text-decoration: none;
 }
 .menu-navbar__link > a:hover {
      color: $secondary-color; 
     
   }

.nav-header {
    display: flex;
    justify-content: space-between;
  }
.nav-icon {
    font-size: 2.5rem;
    color: $secondary-color;
  }
 .nav-btn {
    background: transparent; 
    border: none;
    outline: none;
    margin-right: 1.0rem;
  }

 .logo {
       margin-right: auto;
       position: relative;
       margin-left: 1.5rem;
       margin-top: 0.5rem;
       
 }
  
 .show-nav {
  height: 25vh;
}

 @media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  
  }
  .show-nav {
    height: 25vh;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .menu-navbar {
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .menu-navbar a {
    margin: 0 2rem;
    padding: 0.5rem 0;
  }

} 

