.footer {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: #111;
}
.btn-grp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary-footer {
    text-decoration: none;
    margin: 1em 1.5em ;
}
.follow {
    
}